:root {
    --main-bg-color: #2C3333;
    --secondary-bg-color: #2E4F4F;
    --main-text-color: #CBE4DE;
    --secondary-text-color: #CBE4DE;
  }
  /* :root {
    --main-bg-color: #6D5D6E;
    --secondary-bg-color: #393646;
    --main-text-color: #F4EEE0;
    --secondary-text-color: #4F4557;
  } */

.dark {
    background-color: var(--secondary-bg-color);
    color: var(--main-text-color);
}

.heading {
    text-align: center;
}

.card {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    margin: 10px;
    padding: 10px;
    /* border: 1px solid #4F4557; */
    box-shadow: 1px 1px 10px 2px var(--secondary-text-color);
    border-radius: 12px;
    margin: 30px;
    padding: 30px;
    transition: 0.3s;
}

.input {
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px;
    color: var(--secondary-bg-color);
    width: 80%;
    display: block;
    font-weight: 600;
    font-size: 20px;
    outline: none;
    border-radius: 12px;
    border: none;
}
.input:focus-visible{
    box-shadow: 1px 1px 6px 2px var(--secondary-text-color);
}

.send-btn {
    text-align: center;
    margin: 30px auto;
    padding: 20px 80px;
    font-size: 20px;
    font-weight: 600;
    color: var(--main-text-color);
    background: var(--main-bg-color);
    outline: none;
    border: none;
    border-radius: 12px;
}

form {
    display: flex;
    flex-direction: column;
}

#chatArea {
    display: none;
}

.card pre {
    white-space: pre-wrap;
}


/* Animation for loader */
.button {
    position: relative;
    /* padding: 8px 16px; */
    background: var(--main-bg-color);
    border: none;
    outline: none;
    /* border-radius: 12px; */
    cursor: pointer;
    transition: 0.3s;
}

.button:active {
    /* background: var(--secondary-bg-color); */
    opacity: 0.9;
    scale: 0.9;
}

.button__text {
    font: bold 24px "Quicksand", san-serif;
    color: var(--main-text-color);
    transition: all 0.2s;
}

.button--loading .button__text {
    visibility: hidden;
    opacity: 0;
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: var(--main-text-color);
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}